.about__section {
    display: none;
    height: 100%;
    width: 100%;
    background-color: silver !important;

}

.about__section {
    display: grid;
    grid-template-columns: auto auto;
    padding: 1rem 1rem;
    grid-column-gap: 1rem;

}

.about__image {
    width: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr
}

.about__pic {
    width: 100%;

}

.about__pic img {
    width: 100%;
    height: 100%;
}

.about__text {
    width: 100%;
}

.about__text p {
    font-family: Raleway, sans-serif;
    padding: 0rem 1rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #222;
}

.about__resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem
}

.about__resume a {
    color: #eb268e;
    font-size: 2rem;
    font-weight: 600;
}

@media only screen and (max-width:900px) {
    .about__section {
        display: grid;
        grid-template-columns: auto;
    }

    .about__image {
        display: grid;
        grid-template-rows: 4fr 1fr;
    }
}