@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 65.6%;
}
nav{
  background-color: rgba(251, 246, 246, 0.84);
  height: 100vh;
padding: 4rem 5%;
}
nav h1{
  font-family: 'Satisfy', cursive;
  font-size: 4rem;
  padding-left: 4rem;
}
nav h1 span{
  font-family: Raleway,sans-serif;
  display: block;
  font-size: 2rem;
  margin-bottom: 2rem;
}
nav ul{
  list-style: none;
  font-size: 2rem;
 padding-left: 4rem;
}

nav ul li{
  padding-top: 2rem;
}

nav ul li a{
 color: grey;
 text-decoration: none;
}
section{
  background-color: honeydew;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 30% auto;
}
.home__header{
  font-family: Satisfy,cursive;
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #eb268e;
}
.home__image{
  width: 10rem;
}
.home__image img{
  width: 10rem;
}