@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 65.6%;
}
nav{
  background-color: rgba(251, 246, 246, 0.84);
  height: 100vh;
  width: 33%;
padding: 4rem 3%;
}
nav h1{
  font-family: 'Satisfy', cursive;
  font-size: 4rem;
}
nav h1 span{
  font-family: Raleway,sans-serif;
  display: block;
  font-size: 2rem;
  margin-bottom: 2rem;
}
nav ul{
  list-style: none;
  font-size: 2rem;
}

nav ul li{
  padding: 1rem 0;
}

nav ul li a{
 color: grey;
 text-decoration: none;
}